/* .header-title {
    padding: 200px 0;
    align-items: center;
    text-align: center;
} */

.title {
    min-height: 100vh;
    background-image: url('./img/veb-razrabotchik-918x516.jpg');
    background-size: cover;
    background-position: center center;
    padding: 0;

}

.mask {
    background-color: rgba(0, 0, 0, 0.574);
    min-height: 100vh;
}